#linha01 {
    background-color: blue;
    width: 150px;
    color: white;
}
#linha02 {
    background-color: red;
    width: 150px;
    color: white;
}
#linha03 {
    background-color: magenta;
    width: 150px;
    color: white;
}
#geral {
    background-color: cyan;
    width: 150px;
}
#geral #coluna01 {
    background-color: yellowgreen;
    width: 35%;
    height: 10%;
    color: black;
    float: left;
}
#geral #coluna02 {
    background-color: blue;
    width: 30%;
    height: 10%;
    color: black;
    float: left;
}
#geral #coluna03 {
    background-color: pink;
    width: 30%;
    height: 10%;
    /*float: left;*/
    clear: both;
}